
<div id='content'>
  <% @searched_trails.each do |hash, value| %>
    <%value.each do |hash, value|%>
        <div class='each_trail'>
          <div class='trail-name'><%= hash['name'] %></div>
          <div class='trail-location'><%=hash['city']%>, <%=hash['state']%>, <%=hash['country']%></div>
          <div class='rating'><%=hash['activity_type']['name']%></div>
        </div>
      <%end%>
  <% end %>
</div>
