<div id='content'>
  <div>
    <h1 id ='search_header'>Here are your search results for: <%=@input.capitalize%></h1>
  <% @searched_trails.each do |trail| %>
        <div class='each_trail'>
          <div class='trail-name'><%= trail['name'] %></div>
          <div class='trail-location'><%=trail['city']%>, <%=trail['state']%>, <%=trail['country']%></div>
           <div class='activity'><%=trail['activity']%></div>

       </div>
  <% end %>
</div>
</div>
